.authguard-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
}

.campaignpage-title-text {
  transform: skew(-4deg, -4deg);
  text-transform: uppercase;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: #ffffff;
  color: #004d25;
  font-size: 6rem;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.015em;
  padding: 0 0.2em;
}
